<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf//layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	class="h-100">
<head>
<meta charset="UTF-8">
<title layout:title-pattern="$LAYOUT_TITLE | $CONTENT_TITLE">Attendance</title>

<link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}"/>
<link rel="stylesheet" th:href="@{/resources/css/font-awesome.min.css}"/>

<script th:src="@{/resources/js/jquery.min.js}"></script>
<script th:src="@{/resources/js/popper.min.js}"></script>
<script th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body class="h-100">
 	<nav class="navbar navbar-expand navbar-light bg-info d-flex justify-content-between">
 		<a th:href="@{/}" class="navbar-brand"><i class="fa fa-home"></i>Home</a>
 		<div class="navbar-nav">
 			<a href="" class="nav-link" sec:authorize="hasRole('Admin')">Employee List</a>
 			<a href="" class="nav-link" sec:authorize="hasRole('Admin')">Attendance Contact</a>
 			<a th:href="@{/sign-up}" class="nav-link"><i class="fa fa-user-plus"> Sign Up</i></a>
			<a th:href="@{/sign-in}" class="nav-link" sec:authorize="isAnonymous"><i class="fa fa-sign-in"> Sign In</i></a>
 			<a href="#" class="nav-link" sec:authorize="isAuthenticated"><i class="fa fa-sign-out"></i> Sign Out</a>
 		</div>
 	</nav>
	<section layout:fragment="content" class="container">
		<h3>Content</h3>
	</section>
	<form action="#" th:action="@{/logout}" method="POST" class="d-none" id="logout-form"></form>
	<script type="text/javascript">
		$(() => $('#logout-menu').click(() => $('#logout-form').submit()))
	</script>
 </body>
</html>