<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf//layout"
	layout:decorate="~{/site/templates}">
<head>
<meta charset="ISO-8859-1">
<meta charset="UTF-8">
<title>Home</title>
<link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/resources/css/font-awesome.min.css}">
<script th:src=@{/resources/js/jquery.min.js}></script>
<script th:src=@{/resources/js/popper.min.js}></script>
<script th:src=@{/resources/js/bootstrap.min.js}></script>
</head>
<body>
 <h2>Hello Spring</h2>
</body>
</html>