<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf//layout"
	layout:decorate="~{/site/templates}">
<head>
<meta charset="ISO-8859-1">
<title>Sign In</title>
</head>
<body>
	<section layout:fragment="content" class="container d-flex h-50 justity-content-center align-items-center">
		<div class="card w-50 bg-info">
			<div class="card-body">
				<h4 class="card-title"><i class="fa fa-sign-in"></i>Sign In</h4>
			    <form action="#" th:action="@{/login}" method="post">
			    	<div class="form-group">
			    		<label for="mail">Mail</label>
			    		<input  name ="mail" id="mail" class="form-control" placeholder="Enter Email"></input>
			    	</div>
			    	<div class="form-group">
			    		<label for="password">Password</label>
			    		<input name ="pass" id="password" class="form-control" placeholder="Enter Password"></input>
			    	</div>
			    	<button type="submit" class="btn btn-info">Sign In</button>
			    </form>
			</div>
		</div>
	</section>
</body>
</html>